
.Onama{
    &__content{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr max-content; 

        &-header{
            grid-column: 1;
            grid-row: 1 / 2;
        }
        
        &-mainContent{
            grid-column: 1;
            grid-row: 2 / 3;
        
            display: grid;

            &--text{
                grid-column: 1;
                grid-row: 1 / -1;
        
                display: grid;
            }
        
            .textOne, .textTwo{
                display: grid;
            }
        
            &--dottedBack, &--exes, &--lines{
                grid-column: 1;
                grid-row: 1 / -1;
            }
        }
        
        &-footer{
            grid-column: 1;
            grid-row: 3 / -1;
        }
    }
}